{% extends "basic.html" %} {% block title %}Awadh Class 10{% endblock title %}
{% block class10_color %}
style=" color: red; font-weight: bold;"
{% endblock class10_color %}
{%block body %}
<h1 class="material_type">NOTES</h1>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Science
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a
          href="https://drive.google.com/file/d/1jHVhTO7pFddd6teSyta2b76NumG-CvtC/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 1: Chemical Reactions and Equations</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 2: Acids, Bases and Salts</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 2: Acids, Bases and Salts</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4: Carbon and its Compounds</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4: Carbon and its Compounds</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1KfNb_R5F8u0wBo5eryGNgFMvXlTSVjtX/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 6: Life Processes</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1FITgDeFLk3RtZresg_qJfR6_W2v0HlvG/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 7: Control and Coordination</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 8: How do Organisms Reproduce</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 9: Heredity and Evolution</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 10: Light – Reflection and Refraction</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1Nvz8HGZ5AT2PvpzlagfWActcfnlH7LhO/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 11: The Human Eye and the Colourful World</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1VRT7eM8w-iCJetNRoEXRDnw7xk0vOAjB/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 12: Electricity</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13: Magnetic Effects of Electric Current</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 14: Sources of Energy</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 15: Our Environment</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 16: Sustainable Management of Natural Resources</a
        ><br />
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Maths
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body"></div>
      <a href="#" target="none" class="chapters">Chapter 1 – Real Numbers.</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 2. Polynomials</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 3 – Pair of Linear Equations in Two Variables.</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 4 – Quadratic Equations.</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 5 – Arithematic Progressions.</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 6 – Triangles.</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 7 – Coordinate Geometry.</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 8 – Introduction to Trigonometry.</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 9.- Some Applications Of Trigonometry</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 10. Circles</a><br />
      <a href="#" target="none" class="chapters">Chapter 11. Constructions</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 12. Areas Related To Circles</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 13. Surface Areas and Volumes</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 14. Statistics</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 15. Probability</a
      ><br />
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Social Science
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo veniam
          accusamus, obcaecati non, veritatis ex incidunt nobis quam aperiam
          mollitia, voluptate placeat culpa. Beatae, tempora modi tempore quo,
          qui cupiditate non recusandae molestiae iusto animi delectus nobis
          fugiat, quisquam aperiam. Dolor maxime necessitatibus quisquam officia
          nostrum illo repellendus sequi ipsum similique. Quis, ducimus, quia ea
          deserunt dignissimos facere quam pariatur quisquam eligendi doloremque
          voluptatibus ab. Ratione harum quia minus, repudiandae, iusto sit
          dicta doloribus totam ea reiciendis eligendi dolore odit enim
          laudantium laborum, facere qui dolor aperiam. Ad repellendus quasi
          minus quisquam voluptatum adipisci ea dolores? Similique itaque libero
          amet ut quibusdam molestiae numquam culpa, officia aspernatur ducimus
          enim quis beatae fugit reprehenderit magni ad dolorem repellat veniam.
          Ut, quam fuga. Aperiam?
        </p>
      </div>
    </div>
  </div>

  <h1 class="material_type">Assignment</h1>
  <br />

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefour"
        aria-expanded="false"
        aria-controls="flush-collapsefour"
      >
        Science
      </button>
    </h2>
    <div
      id="flush-collapsefour"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingfour"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a
          href="https://drive.google.com/file/d/1lD7NraJpKGjoajH_5AEDH3_1ypdjrdc3/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 1: Chemical Reactions and Equations</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1x93xxpb6EFoQ4ErxDDVGPbnu7lRt8xFu/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 2: Acids, Bases and Salts</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 2: Acids, Bases and Salts</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4: Carbon and its Compounds</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4: Carbon and its Compounds</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 6: Life Processes</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 7: Control and Coordination</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 8: How do Organisms Reproduce</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 9: Heredity and Evolution</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 10: Light – Reflection and Refraction</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 11: The Human Eye and the Colourful World</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1cFTfsXgw51EpPqEJ8NRTgsDbYprNN8eW/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 12: Electricity</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13: Magnetic Effects of Electric Current</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 14: Sources of Energy</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 15: Our Environment</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 16: Sustainable Management of Natural Resources</a
        ><br />
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefive"
        aria-expanded="false"
        aria-controls="flush-collapsefive"
      >
        Maths
      </button>
    </h2>
    <div
      id="flush-collapsefive"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingfive"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a
          href="https://drive.google.com/file/d/1EaGPCleuzfTPF5LPhWJ6jwOg14DyIV-Q/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 1 – Real Numbers.</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1wplfaHoL3blSAtMSG5XL-saYAmRNgfCI/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 2. Polynomials</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 3 – Pair of Linear Equations in Two Variables.</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4 – Quadratic Equations.</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 5 – Arithematic Progressions.</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 6 – Triangles.</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1V-wHVggrdkUea02H3adwCf3JdX_mrjbd/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 7 – Coordinate Geometry.</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1peIN6eJeKTGl_Cb_Trn2PALjtKTvVaLD/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 8 – Introduction to Trigonometry.</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1eL-_FkoFyuQkwr8yqd5-1l6gtF2ecd3U/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 9.- Some Applications Of Trigonometry</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 10. Circles</a><br />
        <a href="#" target="none" class="chapters">Chapter 11. Constructions</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 12. Areas Related To Circles</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13. Surface Areas and Volumes</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1ONdgP5eXD6MaaiBXAafMoD2sxpYF9yjU/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 14. Statistics</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1S8p6DBbEPkl_NOxRDaviv4olkMA0S0Iw/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 15. Probability</a
        ><br />
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingsix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsesix"
        aria-expanded="false"
        aria-controls="flush-collapsesix"
      >
        Social Science
      </button>
    </h2>
    <div
      id="flush-collapsesix"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingsix"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo veniam
          accusamus, obcaecati non, veritatis ex incidunt nobis quam aperiam
          mollitia, voluptate placeat culpa. Beatae, tempora modi tempore quo,
          qui cupiditate non recusandae molestiae iusto animi delectus nobis
          fugiat, quisquam aperiam. Dolor maxime necessitatibus quisquam officia
          nostrum illo repellendus sequi ipsum similique. Quis, ducimus, quia ea
          deserunt dignissimos facere quam pariatur quisquam eligendi doloremque
          voluptatibus ab. Ratione harum quia minus, repudiandae, iusto sit
          dicta doloribus totam ea reiciendis eligendi dolore odit enim
          laudantium laborum, facere qui dolor aperiam. Ad repellendus quasi
          minus quisquam voluptatum adipisci ea dolores? Similique itaque libero
          amet ut quibusdam molestiae numquam culpa, officia aspernatur ducimus
          enim quis beatae fugit reprehenderit magni ad dolorem repellat veniam.
          Ut, quam fuga. Aperiam?
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
