{% extends "basic.html" %} {% block title %} Awadh Juniours {% endblock title %}
{% block class8_color %}
style=" color: red; font-weight: bold;"
{% endblock class8_color %}
{% block body %}
<h1 class="helo">Helo Students</h1>
<div class="class-1-8-container">
  <a href="#"
    ><button type="button" class="btn btn-outline-primary subject-1-8">
      Maths
    </button></a
  >
  <a href="#"
    ><button type="button" class="btn btn-outline-secondary subject-1-8">
      science
    </button></a
  >
  <a href="#"
    ><button type="button" class="btn btn-outline-success subject-1-8">
      social science
    </button></a
  >
  <a href="#"
    ><button type="button" class="btn btn-outline-danger subject-1-8">
      Algebra
    </button></a
  >
  <a href="#"
    ><button type="button" class="btn btn-outline-warning subject-1-8">
      Gernal Knowledge
    </button></a
  >
  <a href="#"
    ><button type="button" class="btn btn-outline-info subject-1-8">
      Codeing
    </button></a
  >
</div>
{% endblock body %}
