{% extends "basic.html" %} {% block title %}Awadh Class 9{% endblock title %} 
{% block class9_color %}
style=" color: red; font-weight: bold;"
{% endblock class9_color %}
{%block body %}
<h1 class="material_type">NOTES</h1>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseOne"
        aria-expanded="false"
        aria-controls="flush-collapseOne"
      >
        Science
      </button>
    </h2>
    <div
      id="flush-collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingOne"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a
          href="https://drive.google.com/file/d/1oU7OdqdQE2o7glc_xmCjphRE5dRtAtI6/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 1. Matter in Our Surroundings</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1wnFRyxuYbL0N1mv3pIHqXOynl7tod5fV/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 2. Is Matter Around Us Pure</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1xMOlz-WFiUR2S_WSiLNG-2TC8e5rUKAZ/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 3. Atoms and Molecules</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4. Structure of the Atom</a
        ><br />
        <a
          href="https://drive.google.com/file/d/187X2hmvvQkR6wqYmby4Vpi-mhHyCNej7/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 5. The Fundamental Unit of Life</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 6. Tissues</a><br />
        <a
          href="https://drive.google.com/file/d/14j9jYUQlnfBMDG5FPsAB1v6r1DZsTm_H/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 7. Diversity in Living Organisms</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 8. Motion</a><br />
        <a
          href="https://drive.google.com/file/d/1hbGzeAyh4jP8gMfKk2KtPdhLYz7E_GG9/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 9. Force and Laws of Motion</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1U_HgTFt6g27u8Ny5FwTqqXOP_D0Zqjtz/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 10. Gravitation</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 11. Work and Energy</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 12. Sound</a><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13. Why do We Fall ill</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 14. Natural Resources</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 15. Improvement in Food Resources</a
        ><br />
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseTwo"
        aria-expanded="false"
        aria-controls="flush-collapseTwo"
      >
        Maths
      </button>
    </h2>
    <div
      id="flush-collapseTwo"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingTwo"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body"></div>
      <a href="#" target="none" class="chapters">Chapter 1. Number Systems</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 2. Polynomials</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 3. Coordinate Geometry</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 4. Linear Equations in Two Variables</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 5. Euclid’s Geometry</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 6. Lines and Angles</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 7. Triangles</a><br />
      <a href="#" target="none" class="chapters">Chapter 8. Quadrilaterals</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 9. Areas of Parallelograms and Triangles</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 10. Circles</a><br />
      <a href="#" target="none" class="chapters">Chapter 11. Constructions</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 12. Heron’s Formula</a
      ><br />
      <a href="#" target="none" class="chapters"
        >Chapter 13. Surface Areas and Volumes</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 14. Statistics</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 15. Probability</a
      ><br />
      <a href="#" target="none" class="chapters">Chapter 15. Probability</a
      ><br />
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapseThree"
        aria-expanded="false"
        aria-controls="flush-collapseThree"
      >
        Social Science
      </button>
    </h2>
    <div
      id="flush-collapseThree"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingThree"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo veniam
          accusamus, obcaecati non, veritatis ex incidunt nobis quam aperiam
          mollitia, voluptate placeat culpa. Beatae, tempora modi tempore quo,
          qui cupiditate non recusandae molestiae iusto animi delectus nobis
          fugiat, quisquam aperiam. Dolor maxime necessitatibus quisquam officia
          nostrum illo repellendus sequi ipsum similique. Quis, ducimus, quia ea
          deserunt dignissimos facere quam pariatur quisquam eligendi doloremque
          voluptatibus ab. Ratione harum quia minus, repudiandae, iusto sit
          dicta doloribus totam ea reiciendis eligendi dolore odit enim
          laudantium laborum, facere qui dolor aperiam. Ad repellendus quasi
          minus quisquam voluptatum adipisci ea dolores? Similique itaque libero
          amet ut quibusdam molestiae numquam culpa, officia aspernatur ducimus
          enim quis beatae fugit reprehenderit magni ad dolorem repellat veniam.
          Ut, quam fuga. Aperiam?
        </p>
      </div>
    </div>
  </div>

  <h1 class="material_type">Assignment</h1>
  <br />

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefour"
        aria-expanded="false"
        aria-controls="flush-collapsefour"
      >
        Science
      </button>
    </h2>
    <div
      id="flush-collapsefour"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingfour"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a
          href="https://drive.google.com/file/d/1jIkR8y-Efk4J3OmiQVSYez74rLJh06-_/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 1. Matter in Our Surroundings</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1sqsixrvqZNuK1KIsseVf6g7IBeKIO5qv/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 2. Is Matter Around Us Pure</a
        ><br />
        <a
          href="https://drive.google.com/file/d/1aDAD5nRQYKiQa80KAaW6oL4R_VLb5eR7/view?usp=sharing"
          target="none"
          class="chapters"
          >Chapter 3. Atoms and Molecules</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4. Structure of the Atom</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 5. The Fundamental Unit of Life</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 6. Tissues</a><br />
        <a href="#" target="none" class="chapters"
          >Chapter 7. Diversity in Living Organisms</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 8. Motion</a><br />
        <a href="#" target="none" class="chapters"
          >Chapter 9. Force and Laws of Motion</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 10. Gravitation</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 11. Work and Energy</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 12. Sound</a><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13. Why do We Fall ill</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 14. Natural Resources</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 15. Improvement in Food Resources</a
        ><br />
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingfive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsefive"
        aria-expanded="false"
        aria-controls="flush-collapsefive"
      >
        Maths
      </button>
    </h2>
    <div
      id="flush-collapsefive"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingfive"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <a href="#" target="none" class="chapters">Chapter 1. Number Systems</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 2. Polynomials</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 3. Coordinate Geometry</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 4. Linear Equations in Two Variables</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 5. Euclid’s Geometry</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 6. Lines and Angles</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 7. Triangles</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 8. Quadrilaterals</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 9. Areas of Parallelograms and Triangles</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 10. Circles</a><br />
        <a href="#" target="none" class="chapters">Chapter 11. Constructions</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 12. Heron’s Formula</a
        ><br />
        <a href="#" target="none" class="chapters"
          >Chapter 13. Surface Areas and Volumes</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 14. Statistics</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 15. Probability</a
        ><br />
        <a href="#" target="none" class="chapters">Chapter 15. Probability</a
        ><br />
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingsix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#flush-collapsesix"
        aria-expanded="false"
        aria-controls="flush-collapsesix"
      >
        Social Science
      </button>
    </h2>
    <div
      id="flush-collapsesix"
      class="accordion-collapse collapse"
      aria-labelledby="flush-headingsix"
      data-bs-parent="#accordionFlushExample"
    >
      <div class="accordion-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo veniam
          accusamus, obcaecati non, veritatis ex incidunt nobis quam aperiam
          mollitia, voluptate placeat culpa. Beatae, tempora modi tempore quo,
          qui cupiditate non recusandae molestiae iusto animi delectus nobis
          fugiat, quisquam aperiam. Dolor maxime necessitatibus quisquam officia
          nostrum illo repellendus sequi ipsum similique. Quis, ducimus, quia ea
          deserunt dignissimos facere quam pariatur quisquam eligendi doloremque
          voluptatibus ab. Ratione harum quia minus, repudiandae, iusto sit
          dicta doloribus totam ea reiciendis eligendi dolore odit enim
          laudantium laborum, facere qui dolor aperiam. Ad repellendus quasi
          minus quisquam voluptatum adipisci ea dolores? Similique itaque libero
          amet ut quibusdam molestiae numquam culpa, officia aspernatur ducimus
          enim quis beatae fugit reprehenderit magni ad dolorem repellat veniam.
          Ut, quam fuga. Aperiam?
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
