{% extends "basic.html" %}
{% block title %}
Awadh Library
{% endblock title %}
{% load static %}
{% block books_color %}
style=" color: red; font-weight: bold;"
{% endblock books_color %}


{% block body %}

<div class="container">
    <div class="class" id="class-1">class 6</div>
    <div class="class" id="class-2">class 7</div>
    <div class="class" id="class-3">class 8</div>
    <div class="class" id="class-4">class 9</div>
    <div class="class" id="class-5">class 10</div>
    <div class="class" id="class-6">class 11</div>
    <div class="class" id="class-7">class 12</div>
</div>
{% endblock body %}