{% extends "basic.html" %}
{% block title %} AWADH ACADEMY {% endblock title %}
{% block body %}
{% load static%}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src=" {% static 'photos/front.jpg' %}" class="d-block w-100" alt="Not Lode Due To Internet Glitch">
            </div>
            <div class="carousel-item">
                <img src=" {% static 'photos/2.jpg' %}" class="d-block w-100" alt="Not Lode Due To Internet Glitch">
            </div>
            <div class="carousel-item">
                <a href="https://forms.gle/seaAgz9t4ab9Nc136"><img src=" {% static 'photos/3.jpg' %}" class="d-block w-100"
                        alt="Not Lode Due To Internet Glitch"></a>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>





    <div class="material">
        <div class="content1">
            <div class="text">

                <h1>BEST ONLINE TUITION CLASSES BY OUR VERTEX TUTORS</h1> <br>
                <p>Within the proximity of your home get the assistance of the best online as well as offline
                    teacher to nourish the preparation of your child. Online live sessions are provided here to clarify
                    the concepts and to provide education in the most interactive manner.
                </p>
            </div>
            <div class="image">
                <img src=" {% static 'photos/capture.png' %}" alt="Not Lode Due To some internet glitch">
            </div>
        </div>

        <div class="content2">
            <div>
                <img src=" {% static 'photos/capture2.png' %}" alt="Not Lode Due To some internet glitch">
            </div>
            <div class="text2">

                <h1>TUITION BY OUR MOST QUALIFIED HOME TUTOR</h1> <br>
                <p>Within the proximity of your home get the assistance of the best online as well as offline
                    teacher to nourish the preparation of your child. Online live sessions are provided here to clarify
                    the concepts and to provide education in the most interactive manner.
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="test">
            <div class="card" style="width: 18rem;">
                <img src=" ayush.png" class="card-img-top ayush" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ayush Gupta</h5>
                    <p class="card-text">Register your self with Awadh and put your carrier in the way of sucess
                        ........... at the time the web page not complete very much there are some bugs in it</p>
                </div>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="test_material">

                <h1
                    style="text-align: center; color: royalblue; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Register Your Self With <br> Awadh Group</h1>
                <a class="btn btn-primary" href="https://forms.gle/seaAgz9t4ab9Nc136" role="button">Click it now</a>
                <h1
                    style="text-align: center; color: rgb(16, 201, 136); font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    Awadh ATHE 2021 Exam Link <br> Open soon</h1>
                <a class="btn btn-success" href="#" role="button">Click it now</a>
            </div>
        </div>
    </div> -->
    <div class="updates">
        <div class="hadder">
            <div class="hadder_data">
                <img src="https://media.giphy.com/media/XdOpq8KtWgfoGEwJjK/giphy.gif" alt="this slowpoke moves"
                    width=100 />
                <h3>AWADH UPDATES</h3>
            </div>
        </div>
        <div class="plan_1">
            <div class="accordion accordion-flush planer" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            Awadh organise ATHE 2021 exam
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Awadh organizes an ATHE ( Awadh Talent Hunt Exam) 2020 exam it is a
                            scholarship based exam the main motive of this exam is to create an awareness amount student
                            and the dates of the exam will declare soon through the same portal if you want to register
                            yourself for this link re given below ..............</div>
                        <a href="#"><button type="button" class="btn btn-outline-info" disabled>Exam link Will update
                                soon</button></a>
                        <a href="#"><button type="button" class="btn btn-outline-success" disabled>Exam instructionand
                                other details...</button></a>
                        <a href="https://forms.gle/DUxpHMfjc2arR8tY6"><button type="button"
                                class="btn btn-outline-secondary">Register yourself</button></a>

                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush planer" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingtwo"></h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsetwo" aria-expanded="false" aria-controls="flush-collapseOne">
                        Awadh Runs 45 days boards marathooh
                    </button>
                    </h2>
                    <div id="flush-collapsetwo" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Awadh runs a 45 days marathon for boards student's the main motive
                            of this marathon is to boost revision for board amount student classes are going on. if you
                            want to register yourself for this link are given below ..............</div>

                        <a href="https://forms.gle/seaAgz9t4ab9Nc136"><button type="button"
                                class="btn btn-lg btn-primary">Click For Join the marathooh</button></a>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-flush planer" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingthree"></h2>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapsethree" aria-expanded="false" aria-controls="flush-collapseOne">
                        Join the Academy Now !!!!!!
                    </button>
                    </h2>
                    <div id="flush-collapsethree" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Register Yourself with awadh link are given below
                        <a href="https://forms.gle/seaAgz9t4ab9Nc136"><button type="button"
                                class="btn btn-lg btn-primary">Click For Join the marathooh</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}